:root {
  --accent-color: #2196F3;
  --title-color: #212121;
  --text-color: #757575;
  --aditional-color: #FFFFFF;
  --logo-color: #000000;
}

body {
  font-family: Roboto;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}



.header {
  padding-top: 24px;
  padding-bottom: 25px;
}


.header-logo span {
  color: #000
}


.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: #2196F3;
}

.header-link:focus {
  color: #2196F3;
}

.header-telephone,
.header-email {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.header-email:hover,
.header-telephone:hover {
  color: #2196F3;
}

.header-email:focus,
.header-telephone:focus {
  color: #2196F3;
}

.hero-title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-logo span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}


.header-container {
  display: flex;

}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;

}


.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/fon1.jpg);

}

.ideas-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.ideas-title {
  padding-top: 25px;
}

.ideas-list {
  display: flex;
  gap: 30px;
}

.ideas-list>:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../images/antenna.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
}

.ideas-list>:nth-child(2):before {
  content: "";
  display: inline-block;
  background-image: url("../images/clock.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
}

.ideas-list>:nth-child(3):before {
  content: "";
  display: inline-block;
  background-image: url("../images/diagram.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
}

.ideas-list>:last-child:before {
  content: "";
  display: inline-block;
  background-image: url("../images/astronaut.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
}

.ideas-title {
  margin-bottom: 10px;
}


.ideas {
  padding-top: 94px;
  padding-bottom: 94px;

}

.ideas-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.services-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;

}

.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  gap: 30px;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  margin-bottom: 50px;
}

.team-images {
  margin-bottom: 30px;
}

.team-subtitle {
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 30px;
}

.team-item {
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-subtitle {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}

.footer {
  background: #2F303A;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-adresse {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;

}

.footer-email {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-telephone {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.header-icon {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-contact:hover .header-icon {
  fill: var(--accent-color);
}

.header-contact:focus .header-icon {
  fill: var(--accent-color);
}

.header-icons {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-contact:hover .header-icons {
  fill: var(--accent-color);
}

.header-contact:focus .header-icons {
  fill: var(--accent-color);
}

.team-icons {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.team-icons:hover {
  fill: var(--aditional-color);
}

.team-icons:focus {
  fill: var(--aditional-color);
}

.team-link:hover svg {
  fill: var(--aditional-color);
}

.team-link:focus svg {
  fill: var(--aditional-color);
}

.team-link {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link:hover {
  background: var(--accent-color);
}

.team-link:focus {
  background: var(--accent-color);
}

.team-socials {
  display: flex;
  gap: 10px;
}

.team-box {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.preview {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.modal {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.desc {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.headline {
  color: #FFF;
  /* text-align: center; */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


.footer-pictures {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-caption {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: var(--aditional-color);
}

.footer-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
}

.customers-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
  padding-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}

.customers-link {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-link:hover svg {
  fill: var(--accent-color);
}

.customers-link:hover {
  border-color: var(--accent-color);
}

.customers-logo {
  fill: var(--text-color);
  width: 106px;
  height: 60px;
  flex-shrink: 0;
}

.services-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.services-container {
  bottom: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.80);
  width: 370px;
  height: 70px;
}

.services-item {
  position: relative;
}