:root {
    --accent-color: #2196F3;
   --title-color: #212121;
   --text-color: #757575;
   --aditional-color: #FFFFFF;
   --logo-color: #000000;

 }
 .header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
 }

 .logo-color {
  color: #2196F3;
 }
 .header-link {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
 } 