:root {
  --accent-color: #2196F3;
  --title-color: #212121;
  --text-color: #757575;
  --aditional-color: #FFFFFF;
  --logo-color: #000000;

}

body {
  font-family: Roboto;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}



.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: #ECECEC solid 2px;
}

.header-logo span {
  color: #000
}


.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: #2196F3;
}

.header-link:focus {
  color: #2196F3;
}

.header-telephone,
.header-email {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.header-email:hover,
.header-telephone:hover {
  color: #2196F3;
}

.header-email:focus,
.header-telephone:focus {
  color: #2196F3;
}

.hero-title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-logo span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}


.header-container {
  display: flex;
}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}


.header-contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}


.header-icon {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-contact:hover .header-icon {
  fill: var(--accent-color);
}

.header-contact:focus .header-icon {
  fill: var(--accent-color);
}

.header-icons {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  fill: var(--text-color);
  margin-right: 10px;
}

.header-contact:hover .header-icons {
  fill: var(--accent-color);
}

.header-contact:focus .header-icons {
  fill: var(--accent-color);
}

.buttons-button {
  color: #212121;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
}

.buttons-button:hover {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #2196F3;

  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.buttons-button:focus {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #2196F3;

  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.buttons-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.posters-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  gap: 30px;
  padding-bottom: 94px;
}

.posters-item {
  border: 1px solid #EEE;
  width: calc((100% - (2 * 30px)) / 3);
}

.posters-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.posters-item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.posters-box {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  background: rgba(33, 150, 243, 0.90);
  width: 370px;
  height: 294px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons-container {
  padding-top: 94px;
}

.posters-images {
  margin-bottom: 20px;
}

.posters-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.posters-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer {
  background: #2F303A;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-adresse {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;

}

.footer-email {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-telephone {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.team-link {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link:hover {
  background: var(--accent-color);
}

.team-link:focus {
  background: var(--accent-color);
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: var(--aditional-color);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}

.headline {
  color: #FFF;
  /* text-align: center; */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-pictures {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-caption {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: var(--aditional-color);
}

.footer-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
}