.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-top: 94px;
  }

  &__title {
    color: $title-color;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
  }

  &__list {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      // margin-bottom: 94px;
    }
  }

  &__link {
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg {
      fill: $accent-color;
    }

    &:hover {
      border-color: $accent-color;
    }
  }

  &__logo {
    fill: $text-color;
    width: 106px;
    height: 60px;
    flex-shrink: 0;
  }
}
