.header {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: #2196f3;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;

    & span {
      color: $logo-color;
      color: #000;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.78px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }

  &__list {
    display: none;
    margin-left: 93px;
    gap: 50px;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__link {
    color: $logo-color;
    position: relative;
    animation-name: run-word;
    animation-duration: 5s;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      color: $accent-color;
    }

    &:hover::after {
      color: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
    }

    &::after {
      content: "";
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__contacts {
    margin-left: auto;
    display: none;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
      gap: 50px;
      flex-direction: row;
    }
  }

  &__telephone,
  &__email {
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;

    &:hover,
    &:hover {
      color: $accent-color;
    }

    &:focus,
    &:focus {
      color: $accent-color;
    }
  }

  &__burger {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__box-menu-child {
    outline: solid red;
  }

  &__box-menu {
    outline: solid green;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  &__menu-box {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    max-width: 768px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0px;
    top: 0px;
    backdrop-filter: 1px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04),
      0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 40px;
    padding-bottom: 48px;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__menu-linke:hover {
    color: #2196f3;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  &__menu-linke {
    color: #212121;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    flex-shrink: 0;
  }

  &__box {
    outline: solid red;
  }

  &__menu-email {
    color: #2196f3;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.68px;
  }

  &__menu-telephone {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  &__contact {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover .header-icon {
      fill: $accent-color;
    }

    &:focus .header-icon {
      fill: $accent-color;
    }

    &:hover .header-icons {
      fill: $accent-color;
    }

    &:focus .header-icons {
      fill: $accent-color;
    }
  }

  &__icons {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    fill: $text-color;
    margin-right: 10px;
  }

  &__icon {
    width: 16px;
    height: 12px;
    flex-shrink: 0;
    fill: $text-color;
    margin-right: 10px;
  }

  // menu
  &__close-menu {
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    display: block;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
