.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    background-color: $aditional-color;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: $aditional-color;
  }

  &__images {
    margin-bottom: 30px;
  }

  &__box {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &__subtitle {
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
  }

  &__socials {
    display: flex;
    gap: 10px;
   justify-content: center;
  }

  &__icons {
    width: 20px;
    height: 20px;
    fill: $text-color;

    &:hover {
      fill: $aditional-color;
    }

    &:focus {
      fill: $aditional-color;
    }
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg {
      fill: $aditional-color;
    }

    :focus svg {
      fill: $aditional-color;
    }

    &:hover {
      background: $accent-color;
    }

    &:focus {
      background: $accent-color;
    }
  }

  &__icons {
    width: 20px;
    height: 20px;
    fill: $text-color;

    &:hover {
      fill: $aditional-color;
    }

    &:focus {
      fill: $aditional-color;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
  }
}

.preview {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.desc {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
